@font-face {
  font-family: 'Gotham';
  src: url('../font/Gotham\ Medium.ttf');
}

:root {
  --motus_red: #A52A2E;
  --motus_blue: #8cc9ff;
  --motus_yellow: #ffe84e;
  --team_yellow: #FBC800;
  --team_blue: #1681C7;
  --motus_dark: #2d2d2d;
  --transition: cubic-bezier(0.46, 0.03, 0.52, 0.96) 0.25s;
}

p,
label {
  margin-block-end: 0;
}

th {
  font-weight: normal;
  text-align: left;
}


#settings_page p {
  font-weight: bold;
  padding-bottom: 1em;
  
padding-left: 3vw;font-size: x-large;}

.button#nav_button {
  font-size: 2em;
  padding-left: 2vw;
  padding-right: 2vw;
}

keyboardkey {
  color: var(--system_color_base_low);
  vertical-align: middle;
  background-color: ffffff;
}


button,
input,
select {
  /* border: 1px solid #0000004d; */
  /* color: white; */
  /* font-size: 1.125em; */
  /* padding: 0.5rem; */
  /* border: 0; */
  /* font-family: 'Gotham'; */
  /* cursor: pointer; */
  /* border-radius: 5px; */
}

.select:disabled,
.input:disabled,
.button:disabled {
  opacity: 0.33;
  cursor: default;
}

.select:disabled:hover,
.input:disabled:hover,
.button:disabled:hover {
  opacity: 0.175;
}

input[type="checkbox"i] {
  transform: scale(1.5);
}

table#word_list>td {
  font-size: 1em;
  padding-right: 1rem;
}

body {
  font-family: sans-serif, 'Gotham';
  margin: 0;
  transition: var(--transition);
  overflow: overlay;
}

:focus {
  outline: 0.1em solid #00000054;
}

.page {
  
height: 100%;
  
width: 100%;
  
/* overflow: scroll; */
  
scrollbar-width: thin;
  
overflow-x: hidden;
}

div#main_menu {
  background-color: var(--motus_red);
}

.style_2019#main_menu {
  background-color: var(--motus_dark);
}

.style_2000#main_menu {
  background-color: #b1161b;
}

.style_1990#main_menu {
  background-color: #002761;
}

div#main_menu_content {
  padding-left: 20%;
padding-right: 20%;}

div#settings_page {
  /* overflow: hidden; */
  background-color: var(--system_color_base_medium_high);
}

div#letter_grid_page {

  background-color: var(--motus_blue);
background: linear-gradient(0turn, var(--motus_blue), #50abfb);}

div#debug_page {
  background-color: #3e2792;
}

table#word_list {
  border-left: 1vw solid #4CAF50;
  background-color: #f0f8ff;
  display: block;
  overflow-y: scroll;
  padding: 6vw;
}

img#logo {
  width: 50vw;
  margin-left: 25vw;
  margin-top: 7.5vh;
  margin-bottom: 17vh;
}

img#preview_img {
    height: 10rem;
}

.button.menu_button {
  width: 60vw;
  height: 8vh;
  font-size: 1.5em;
  margin-bottom: 1vh;
  background-color: #0003;
  border-radius: 2px;
  border: 1px solid #0000004d;
  color: white;
}

.button.menu_button:hover {
  background-color: #0005;
}

.d-flex {
  display: flex;
}
.d-none {
  display: none;
}

.d-flex>input {
  width: 100%
}

.topbar-page {
  display: inline-flex;
  height: 75px;
  text-align: center;
  width: 100vw;
  /* background-color: #afc8ed; */
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.settings_input {
  animation: sliding_div 0.5s ease-in-out;
}

.input#settings_input_yellow_team_name {
  background-color: var(--team_yellow);
  border: 1px solid rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  font-weight: bold;
}

.input#settings_input_blue_team_name {
  background-color: var(--team_blue);
  border: 1px solid #00000040;
  text-transform: uppercase;
  font-weight: bold;
}

.protip {
  display: none;
  text-align: center;
}

.protip>a,
.protip>p {
  text-align: center;
}


div#navsection {
  height: 83.9%;
}

div#navpanel {
  width: 100%;
  height: 5%;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: #b5b5b5;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

div#navcontent {
  width: 100%;
  height: 94.9%;
  overflow: visible;
}

.keyboard_layer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.keyboard_key {
  cursor: pointer;
  width: 7.5vw;
  text-align: center;
  margin: 0.25vh 0.5vw;
  padding: 1.25vh 0vw;
  background: rgb(255 255 255 / 33%);
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-weight: bolder;
  font-size: 3vh;
  box-shadow: 2px 2px 5px 0px #0000005e;
  user-select: none;
  transition: all 0.25s ease;
}

.keyboard_key:hover {
  background-color: var(--team_blue);
  color: white;
}



.hided_keyboard #keyboard {
  transform: translate(-100vw, 0);
}

.visible_keyboard #number_grid_interactions {
  transform: translate(100vw, 0);
}


div#topbar {
  height: 7.55vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
background-color: #0000001a;}

div#game {
  /* position: fix;/* display: flex;;/* flex-wrap: nowrap; */
  flex-direction: column;
  bottom: 0;
  position: fixed;
}

.caroussel {
  display: flex;
  width: 80vw;
}

button.button.menu_button.menu_button_caroussel {
  width: 40vw;
}

div#version_placeolder {
  
  color: white;
  position: absolute;
  bottom: 0;
  padding: 1vh 0;width: inherit;color: black;font-weight: bold;}

div#version_placeolder #game {
  padding-right: 1vw
;padding-left: 1vw;}

#topbar img {filter: invert(1);height: 5vh;transition: var(--transition);padding: 1vw;}

div#number_grid_content {display: flex;transition: 0.33s;}

div#number_grid_actions {width: 50vw;display: flex;justify-content: center;}

#user_actions {height: 25vh;width: 100vw;}

div#number_grid_interactions {
transition: var(--transition);display: flex;height: 100%;padding: 1vh 1vw;}

div#top_game_content {height: 100%;}

label.button_label {color: white;text-align: center;}



/* Desktop: */
@media only screen and (min-width: 1024px) {
  img#logo {
    width: 25vw;
    margin-left: 37.5vw;
    margin-bottom: 7.5vh;
    margin-top: 15vh;
    }

    .button.menu_button {
      margin-bottom: 0.25vh;
    }

    #score_placeolder,
    #topbar,
    #keyboard,
    #top_game_content {
      display: none !important;
    }

    #game_grid {
      display: contents;
      position: fixed;
      vertical-align: middle;
    transform: translate(10px, 10px);}

    #user_actions {
      height: 100%;
    position: fixed;top: 0;right: 0;width: 37vw;}

    div#game {
      display: flex;
      height: 100%;
      flex-wrap: wrap;
      justify-content: center;
    width: 100%;}

    .hided_keyboard #number_grid_placeolder  {
      transition: 0.5s;
      animation: sliding_number_grid_animation 0.75s ease-in-out;
      animation-fill-mode: forwards;  
    }

    @keyframes sliding_number_grid_animation {
      50% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(-20vw, 0);
      }
    }

    .visible_keyboard #letter_grid_placeolder  {
      transform: translate(-20vw, 0);
      transition: 0.5s;
      animation: sliding_letter_grid_animation 0.25s ease-in-out;
      animation-fill-mode: forwards;  
    }

    @keyframes sliding_letter_grid_animation {
      0% {
        transform: translate(-20vw, 0);
      }
      100% {
        transform: translate(0, 0);
      }
    }
    #number_grid_actions {
      position: fixed;
      bottom: 0;
      margin: 2vw;
    }

    #button_pick_ball {
      height: 5vw;
    }
}

.stateViewer {
    background: #0f0f0f;
    color: #00ff9c;
    padding: 15px;
    border-radius: 8px;
    font-family: monospace;
    font-size: 13px;
    max-height: 400px;
    overflow: auto;
    white-space: pre-wrap;
}



.form-group {.form-group {
    margin-bottom: 1rem;
};
    margin-bottom: 1;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group input[type=number],.form-group select {
    width: 100%;
}

.p-0 {padding: 0rem !important;}
.p-1 {padding: .25rem !important;}
.p-2 {padding: .5rem !important;}
.p-3 {padding: .75rem !important;}
.p-4 {padding: 1rem !important;}

.m-0 {margin: 0rem !important;}
.m-1 {margin: .25rem !important;}
.m-2 {margin: .5rem !important;}
.m-3 {margin: .75rem !important;}
.m-4 {margin: 1rem !important;}

div#settings_main, #settings_ajout_mot {
    width: 50%;
}

.btn {
    border-radius: .125rem;
    transition: 0.25s;
    margin: 2px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
}

.btn:hover {
  box-shadow: 0 4px 18px 0 rgb(0 0 0 / 20%);
  border:1px solid;
}

.btn:disabled {
  opacity: 0.5;
}

.btn-light { background-color: white; color: #111; }
.btn-dark { background-color: #222; color: #eee; }
.btn-primary { background-color: #2900a6; color: #fff; }
.btn-secondary { background-color: #555; color: #fff; }
.btn-success { background-color: #0f8e06; color: #fff; }
.btn-danger { background-color: var(--motus_red); color: #eee; }
.btn-info { background-color: #0063a8; color: #fff; }