@font-face {
  font-family: 'Gotham';
  src: url('../font/Gotham\ Medium.ttf');
}

@keyframes sliding_div {
  0% {
    opacity:0;
    
  }
  100% {
    opacity:100;
  }
}

:root {
  --motus_red: #A52A2E;
  --motus_blue: #A6D5FF;
  --motus_yellow: #ffe84e;
  --team_yellow: #FBC800;
  --team_blue: #1681C7;
  --motus_dark: #2d2d2d;

  --system_color_base_low: #333;
  --system_color_base_medium_low: #666;
  --system_color_base_medium: #999;
  --system_color_base_medium_high: #ccc;
}

h1 {
  font-size: 1.75em;
  height: 55%;
}

h3 { font-size: 2.12em; }

p, label {
  font-size: 1.125em;
  margin-block-end: 0;
}

th {
  font-weight: normal;
  text-align: left;
}


#settings_page p {
  font-weight: bold;
  padding-bottom: 1em;
  text-align: center;
}

.button#nav_button {
  font-size: 2em;
  padding-left: 2vw;
  padding-right: 2vw;
}

keyboardkey {
  color: var(--system_color_base_low);
  vertical-align: middle;
  background-color: ffffff;
}


.button, .input, .select {
  background-color: #00000020;
  transition: all 0.25s;
  border: none;
  color: white;
  font-size: 1.125em;
  height: 6vh;
  border: 0;
  font-family: 'Gotham';
  margin: 0.15em;
  cursor: pointer;
}

.select:disabled, .input:disabled, .button:disabled {
    opacity: 0.33;
   cursor:default
}
.select:disabled:hover, .input:disabled:hover, .button:disabled:hover {
    /* opacity: 0.175; */
}

.button:hover, .input:hover, .select:hover {background-color: #00000040;}
.settings_page>.button, input, .select {background-color: var(--system_color_base_medium_low);}
.settings_page>.button:hover, .input:hover, .select:hover {background-color: var(--motus_dark);}

.input[type="checkbox"i] {
  width: 5vw;
  height: 5vh;
}

table#word_list>td {
  font-size: 1em;
  padding-right: 5vw;
}

body {
  font-family: 'Gotham';
  margin: 0;
  transition: all 2s;
  overflow: overlay;
}

::-webkit-scrollbar {width: 0.5vw;height: 1vh;}
::-webkit-scrollbar-track { background: #f1f1f100;  }
::-webkit-scrollbar-thumb {background: #444;}
:focus { outline: 0.1em solid #00000054; }

.page {
  background-color: #fffbeb;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
}

div#main_menu {background-color: var(--motus_red);}
.style_2019#main_menu  { background-color:var(--motus_dark);}
.style_2000#main_menu  { background-color: #b1161b;}
.style_1990#main_menu  {background-color: #002761;}
div#main_menu_content { padding-left: 20%; }
div#settings_page {overflow: hidden;background-color: var(--system_color_base_medium_high);}
div#letter_grid_page {background-color: var(--motus_blue);}
div#letter_grid_page.finale {background-color: var(--motus_red);}
div#number_grid_page {background-color: var(--motus_blue);}
div#debug_page { background-color: #3e2792; }

table#word_list {
  border-left: 1vw solid #4CAF50;
  background-color: #f0f8ff;
  display: block;
  overflow-y: scroll;
  padding: 6vw;
  margin-top: 5vw;
}

img#logo {
  width: 50vw;
  margin-left: 25vw;
  margin-top: 7.5vh;
  margin-bottom: 17vh;
}

.button.menu_button {
  width: 60vw;
  height: 7.5vh;
  font-size: 1.5em;
  margin-bottom: 1vh;
  background-color: #0003;
}

.button.menu_button:hover {
  background-color: #0005;
}

.section_flex {
  display: inline-table;
  overflow-y: scroll;
}

.section_flex>input { width: 100% }
div#settings-top, div#credit-top {display: inline-flex;padding-left: 1vw;height: 75px;text-align: center;width: 100%;background-color: #fff;}
div#settings-up, div#credit-up { padding-left: 1vw; }
.settings_input.settings_disabled { display: none; }
a#version {position:absolute;left:0;bottom:0;padding: 3%;}
a#game {position:absolute;right:0;bottom:0;padding: 3%;}

.settings_input {
  background-color: var(--system_color_base_medium_high);
  padding: 0.5vw;
  margin-bottom: 1vw;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.settings_input {
  animation: sliding_div 0.5s ease-in-out;
}


.input#settings_input_yellow_team_name {
  background-color: var(--team_yellow);
  border: 1px solid rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  font-weight: bold;
}

.input#settings_input_blue_team_name {
  background-color: var(--team_blue);
  border: 1px solid #00000040;
  text-transform: uppercase;
  font-weight: bold;
}

.protip {display: none;text-align: center;}
.protip>a, .protip>p {
    text-align: center;
}


div#navsection {
  height: 83.9%;
}

div#navpanel {
  width: 100%;
  height: 5%;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: #9b9b9b;
  text-align:center;
  font-size: 1.25em;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

div#navcontent {
  width: 100%;
  height: 94.9%;
  overflow: visible;
}

h1.link {
    width: 3.33em;
    text-align: center;
    margin-right: 5%;
    margin-left: 2.5%;
    border-radius: 0.1em;
    background-color: var(--system_color_base_medium_high);
}

h1.link:hover {
    background-color: var(--system_color_base_medium);
    color: var(--system_color_base_low);
    cursor:pointer;
}

div#navpanel_dropdown {
  position:absolute;
}

div#navpanel_dropdown p {
  text-decoration:none;
  text-align:left;
  padding-left: 5vw;
  font-size:1.25em;
  padding-bottom:0;
  cursor: pointer;
}
div#navpanel_dropdown p:hover {
  color: black;
}

div#navpanel_dropdown.navpanel_dropdown_visible {
    background-color: #cbcbcb80;
    height: 100%;
    width: 100%;
    display: list-item;
    -webkit-backdrop-filter: blur(0.25em);
    backdrop-filter: blur(0.25em);
}


div#navpanel_dropdown.navpanel_dropdown_hidden {
  height:0;
  opacity: 0;
  display: none;
}



.settings_input p {
    display: none;
}

/* Desktop: */
@media only screen and (min-width: 1024px) {
  img#logo {
    width: 25vw;
    margin-left: 37.5vw;
    margin-bottom: 7.5vh;
    margin-top: 15vh;
  }
  .button.menu_button {
    width: 60vw;
    height: 7.5vh;
    font-size: 1.5em;
    margin-bottom: 0.25vh;
  }
  .button, .input, .select {
    height: 6vh;
    padding-right: 5vw;
    padding-left: 5vw;
    text-overflow: clip;
  }
  p, label, select {font-size:1.5em;text-align: left;margin-left: 1vw;}
  table#word_list { padding:2vw;width: 100%;  }
  #settings_page p {  text-align: left !important;margin-left: 2.5vw; }

  .input[type="checkbox"i] {
    height:2vw;
    width:2vw;
  }

  .protip {
    color: white;
    font-size: 0.8em;
    margin: 2vw;
    display:block;
  }

  keyboardkey {
    padding: 0.5vw 0.5vw;
    font: 1em monospace;
    border-radius: 0.25vw;
    box-shadow: inset 0 -0.125vw 0 var(--system_color_base_medium_low);
  }
  
  div#settings-top, div#credit-top {
    height: 8%;
    margin-left: 0;
  }
  div#settings_main {
    display:flex;
    height: 92%;
  }
  div#settings_content {
    width: 100%;
  }
  div#navpanel {
    display:none;
  }
  div#nav_section, div#navpanel_dropdown, div#navpanel_dropdown.navpanel_dropdown_visible{
    width: 25%;
  }
  div#navpanel_dropdown p {
  text-decoration:none;
  text-align:left;
  padding-left: 0vw;
  font-size:1.25em;
  padding-bottom:0;
}

div#navpanel_dropdown.navpanel_dropdown_visible, div#navpanel_dropdown.navpanel_dropdown_hidden {
    background-color: var(--system_color_base_medium);
    height: 90%;
    width: 20%;
    display: list-item;
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);
    padding-top: 1vw;
    opacity: 100;
}
.settings_input p {
    display: block;
}
}

@media (prefers-color-scheme: dark) {

  .settings_input {
    background-color: var(--system_color_base_low);
  }

  table#word_list {
    background-color: #4f4f4f;
  }
  .page, div#settings_page, div#letter_grid_page {
  background-color: var(--system_color_base_low);
  }
  div#navpanel, div#navsection{
    background-color: #252525;
  }
  div#settings-top, div#credit-top {
    background-color: black;
  }
  div#letter_grid_page,  {background-color: var(--motus_dark);}
  div#number_grid_page {background-color: var(--motus_dark);}
  code, h1, h2, h3 {
    color: #efefef;
  }
  a:-webkit-any-link, p, label, td, div#navpanel {
    color: #d4d4d4;
  }
  .input[type="checkbox" i] {
    background-color: blue;
  }
  .button, .input {background-color: #0000001a;}
  .button:hover, .input:hover { background-color: rgba(255, 255, 255, 0.25);}
  .menu_button {   background-color: #0003; }
  .menu_button:hover {   background-color: #0005; }

  div#navpanel_dropdown.navpanel_dropdown_visible, div#navpanel_dropdown.navpanel_dropdown_hidden {
    background-color: var(--motus_dark);
    -webkit-backdrop-filter: blur(0.25em);
    backdrop-filter: blur(0.25em);
  }

  div#navpanel_dropdown p:hover {
    color: #fff;
  }
  
h1.link {
    background-color: var(--system_color_base_medium_low);
    color: black;
}

h1.link:hover {
    background-color: var(--system_color_base_low);
    color: black;
}
}


.menu_button {
}