


/*          */
/*          */
/*  TABLE   */
/*          */
/*          */

#number_grid_page #table_number {
  height: 100%;
  width: 100%;
  border-spacing: 0px;
}

div#number_grid_placeolder { display: flex; }






/*          */
/*          */
/*  STYLE   */
/*          */
/*          */



#number_grid_page td {
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: #e2e2e2;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2.5vw;
  text-align: center;
  height: 10.75vw;
}

table.table_number {
  width: 100%;
  border-spacing: 0px;
  border-right: 1px solid;
  border-top: 1px solid;
  border-color: #e2e2e2;
  border-style: unset;
}

.number_grid_placeolder {
  /* margin: 6.5vw; */
}

.number_grid_placeolder:hover {opacity: 100%;}

.number {
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  line-height: 150%;
  font-size: 2.75em;
  display: inline-block;
  /* position: relative; */
}




.style_2010 .cell_team_yellow {
border: 1px solid #ffffff;
background-image: linear-gradient(to bottom , #ffec00, #b79b00);
}
.style_2010 .cell_team_blue {
background-image: linear-gradient(to bottom, #11A7FF, #0065CF);
border: 1px solid #e2e2e2;
}




.style_1990 .cell_team_yellow{      /* cell_yellow */
border: 2px solid #9a9c28;
background-color: #e6f500;
}
.style_2000 .cell_team_yellow{      /* cell_yellow */
background-color: #eedd11;
border: 2px solid #9c840f;
}
.style_2010 .cell_team_yellow{      /* cell_yellow */
border: 1px solid #ffffff;
background-image: linear-gradient(to bottom , #ffec00, #b79b00);
}
.style_2019 .cell_team_yellow{      /* cell_yellow */
background-color: #e5e800;
text-shadow: 2px 2px 5px #00000066;
border: 2px solid #f1f880;
}

.style_1990 .cell_team_blue{      /* cell_blue */
border: 2px solid #184565;
background-color: #0080dc;
}
.style_2000 .cell_team_blue{      /* cell_blue */
background-color: #117AEE;
border: 2px solid #0F359C;
}
.style_2010 .cell_team_blue{      /* cell_blue */
background-image: linear-gradient(to bottom, #11A7FF, #0065CF);
border: 1px solid #e2e2e2;
}
.style_2019 .cell_team_blue{      /* cell_blue */
background-color: #0092f1;
text-shadow: 2px 2px 5px #00000066;
border: 2px solid #80c9f8;
}




.style_1990 .blue_number{ background-color: #e3d310;}
.style_2000 .blue_number{ background-color: #ffffff00}
.style_2010 .blue_number{background-image: -webkit-radial-gradient(3.5vw 0vw, circle cover, #ffff35, #a77b00);}
.style_2019 .blue_number{ background-color: #d9d100;  box-shadow: 2px 2px 7px -2px hsla(0, 0%, 0%, .5);
}


.style_1990 .yellow_number{ background-color: #036fc5;}
.style_2000 .yellow_number{ background-color: #ffffff00}
.style_2010 .yellow_number{background-image: -webkit-radial-gradient(3.5vw 0vw, circle cover, #59d1ff, #0014a2);box-shadow: 5px 5px 15px 0px #00000040;}
.style_2019 .yellow_number{ background-color: #0a79d0;
                        box-shadow: 2px 2px 7px -2px hsla(0, 0%, 0%, .5);
}

.style_1990 .hided_yellow_number{ background-color: #c5b70c;}
.style_2000 .hided_yellow_number{ background-color: #B7AD21;}
.style_2010 .hided_yellow_number{ background-image: -webkit-radial-gradient(75px 25px, circle cover, #eae200, #9e8f0a);}
.style_2019 .hided_yellow_number{ background-color: #c3bd14;
                                box-shadow: 2px 2px 7px -2px hsla(0, 0%, 0%, .5);
}


.style_1990 .hided_blue_number{ background-color: #0260aa;}
.style_2000 .hided_blue_number{ background-color: #0c57c7;}
.style_2010 .hided_blue_number{ background-image: -webkit-radial-gradient(75px 25px, circle cover, #0086f0, #122179);}
.style_2019 .hided_blue_number{ background-color: #0665c9;
                              box-shadow: 2px 2px 7px -2px hsla(0, 0%, 0%, .5);}