@font-face {
    font-family: 'Gotham'; /*a name to be used later*/
    src: url('../font/Gotham\ Bold.otf'); /*URL to font*/
  }
    
    body { 
        font-family: "Gotham";
    }

        
    .fullscreen_off #table_letter {
        border-spacing: 0;
        height: 90%;
        width: 100%;
        position: unset;
    }
    .fullscreen_on #table_letter {
        border-spacing: 0;
        height: 100%;
        width: 100%;
        position: unset;
    }
    .style_2019 td {
        border: 2px solid #80c9f8;
        text-align: center;
        font-weight: normal;
        font-size: 600%;
        color: white;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, .6);
        width: 10%;
        height: 15%;
    }
    .style_2019 .not_present {
        background-color: #0092f1;
    }
    .style_2019 .correct {
        background-color: #ED262C;
    }
    .style_2019 .not_in_place {
        background-image: linear-gradient(0.85turn , #FFDF00, #FFC000);
    }
    .style_2019 .error {
        background-color: #0073be;
    }



    
    .style_2010 td {
        border: 1px solid #e2e2e2;
        text-align: center;
        font-weight: normal;
        font-size: 600%;
        color: white;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, .6);
        width: 10%;
        height: 15%;
        font-family: Helvetica;
        font-weight: bold;
    }
    .style_2010 .not_present {
       background-image: linear-gradient(to bottom , #11A7FF, #0065CF);
    }
    .style_2010 .correct {
       background-image: linear-gradient(#f2826a, #ba4428);
    }
    .style_2010 .not_in_place {
        background-image: linear-gradient(to bottom , #ffff86, #efdc00);
    }
    .style_2010 .error {
        background-image: linear-gradient(to bottom , #1f9ae4, #0057af);
    }



    
    .style_1990 td {
        border: 4px solid #1b1c74;
        text-align: center;
        font-weight: normal;
        font-size: 600%;
        color: #d8d8d8;
        width: 10%;
        height: 15%;
        font-family: Segoe UI;
        font-weight: bold;
    }
    .style_1990 .not_present {
    background-color: #014c54;
    }
    .style_1990 .correct {
    background-color: #b10282;
    }
    .style_1990 .not_in_place {
    background-color: #c1bb00;
    }
    .style_1990 .error {
    background-color: #006ab6;
    }