@font-face {
  font-family: 'Gotham'; /*a name to be used later*/
  src: url('../font/Gotham\ Bold.otf'); /*URL to font*/
}

body {
  text-align: center;
  font-family: Arial;
  line-height: 1.5;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.menu {
  display: block;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

.fullscreen_off .message {
  display: block;
  position: absolute;
  width: 100%;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  height: 10%;
  top: 90%;
}
.fullscreen_on .message {
  display: none;
}

.menu h1 {
  color: white;
  padding: 20;
  font-variant-caps: all-small-caps;
  width: 100%;
}

.menu-content {
  display: contents;
}






.score-placeolder {
  width: 100%;
  margin: 1%;
}
.menu-button {
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
  width: 25%;
}
#score-placeolder-blue {
  background-color: #1681C7;
}
#score-placeolder-yellow {
  background-color: #FBC800
}
.score-placeolder h2 {
  color: white;
  text-transform: uppercase;
  font-size: 100%;
}
.score-placeolder a {
  font-variant-caps: all-small-caps;
  font-size: x-large;
  color: white;
}

#exit-div {
  margin-top: 2%;
  text-align: left;
}
#exit {
  margin-left: 2%;
  text-decoration: none;
  color: white;
}
#start-div {
  margin-top: 2%;
  text-align: right;
}
#start {
  margin-right: 2%;
  text-decoration: none;
  color: white;
}


.menu-top-div {
    height: 10%;
    display: inline-flex;
    width: 100%;
}

.menu-content-div {
    display: flex;
    height: 75%;
    width: 100%;
}
.menu-content-div-left {
    width: 50%;
    display: flow-root;
    margin-left: 5%;
}

.menu-content-div-right {width: 50%;margin-right: 5%;display: flow-root;}

div#menu-content-div {
    background-color: #73191c;
    color: #4a0000;
    height: 10%;
    margin: 3%;
    border: 3px solid rgba(0, 0, 0, 0.25);
}

div#menu-exit-div {
    width: 50%;
}

div#menu-start-div {
    width: 50%;
}

a#menu-exit-button-a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a#menu-start-button-a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

h3#menu-content-button-a {
  text-transform: uppercase;
}

.menu-bottom-div {
  display: flex;
}

img#logo {
  height: 100%;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
}

div#menu-content-div:hover {
    background-color: #bf1a1f;
    height: 10%;
    color: #580000;
    margin: 3%;
    border: 3px solid rgba(0, 0, 0, 0.25);
}