
body {
  font-family: sans-serif, 'Gotham';
  margin: 0;
  font-size: 1rem;
  overflow: overlay;
}

p, label {
  margin-block-end: 0;
}

th {
  font-weight: normal;
  text-align: left;
}

.select:disabled,
.input:disabled,
.button:disabled {
  opacity: 0.33;
  cursor: default;
}

.select:disabled:hover,
.input:disabled:hover,
.button:disabled:hover {
  opacity: 0.175;
}

input[type="checkbox"i] {
  transform: scale(1.5);
}


.d-flex {
  display: flex !important;
}
.d-none {
  display: none !important;
}

.h2 {
    font-size: 1.5em;
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.form-group {.form-group {
    margin-bottom: 1rem;
};
    margin-bottom: 1;
}

.form-group {
    margin-bottom: 1rem;
}

.input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group-append, .input-group-prepend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.input-group-append {
    margin-left: -1px;
}

.form-group input[type=number],.form-group select {
    width: 100%;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.p-0 {padding: 0rem !important;}
.p-1 {padding: .25rem !important;}
.p-2 {padding: .5rem !important;}
.p-3 {padding: .75rem !important;}
.p-4 {padding: 1rem !important;}

.m-0 {margin: 0rem !important;}
.m-1 {margin: .25rem !important;}
.m-2 {margin: .5rem !important;}
.m-3 {margin: .75rem !important;}
.m-4 {margin: 1rem !important;}

.btn {
    border-radius: .125rem;
    margin: 2px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: 3px;
    box-shadow: 2px 2px 3px 0px rgb(0 0 0 / 20%);
}

.btn:hover {
  box-shadow: 0 3px 2px 0 rgb(0 0 0 / 20%);
  border:1px solid black;
}

.btn:disabled {
  opacity: 0.5;
}

.btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .3rem;
}

.btn-light { background-color: white; color: #111; }
.btn-dark { background-color: #222; color: #fff; }
.btn-primary { background-color: #005ea0; color: #fff; }
.btn-secondary { background-color: #555; color: #fff; }
.btn-success { background-color: #0f8e06; color: #fff; }
.btn-danger { background-color: var(--motus_red); color: #fff; }
.btn-warning { background-color: #c74900; color: #111; }
.btn-info { background-color: #06b2d9; color: #111; }

.btn-yellow { background-color: #ffed00; color: #111; }
.btn-blue { background-color: #005d9e; color: #fff; }
.btn-red { background-color: #c42e00; color: #fff; }

.btn-close {
    --bs-btn-close-color: #000;
    --bs-btn-close-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414'/%3e%3c/svg%3e);
    --bs-btn-close-opacity: 0.5;
    --bs-btn-close-hover-opacity: 0.75;
    --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-btn-close-focus-opacity: 1;
    --bs-btn-close-disabled-opacity: 0.25;
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    color: var(--bs-btn-close-color);
    background: transparent var(--bs-btn-close-bg) center / 1em auto no-repeat;
    filter: var(--bs-btn-close-filter);
    border: 0;
    border-radius: .375rem;
    opacity: var(--bs-btn-close-opacity);
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-tabs .nav-item {
    margin-bottom: -1px;
    margin-right: 2px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    /* color: #495057; */
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

details {
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  padding: 0.5em 0.5em 0;
  margin-bottom: 5px;
  user-select: none;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px dashed #6a6a6a;
  margin-bottom: 1em;
}

/*
Source - https://stackoverflow.com/a/18864767
Posted by maikelsabido
Retrieved 2026-05-08, License - CC BY-SA 3.0
*/

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal::backdrop {
  background-color:#00000080;
}
.modal {
  position: fixed;
  z-index: 1050;
  width: 75vw;
  background-color: #ffffff;
  border: 1px solid #999;
  /* IE6-7 */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
}
.modal.fade {
  -webkit-transition: opacity .3s linear, top .3s ease-out;
  -moz-transition: opacity .3s linear, top .3s ease-out;
  -o-transition: opacity .3s linear, top .3s ease-out;
  transition: opacity .3s linear, top .3s ease-out;
  top: -25%;
}
.modal.fade.in {
  top: 10%;
}
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}
.modal-header .close {
  margin-top: 2px;
}
.modal-header h3 {
  margin: 0;
  line-height: 30px;
}
.modal-body {
  position: relative;
  overflow-y: auto;
  max-height: 60vh;
  padding: 15px;
}
.modal-form {
  margin-bottom: 0;
}
.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  zoom: 1;
}
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: "";
  line-height: 0;
}
.modal-footer:after {
  clear: both;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

@media (max-width: 767px) {
  .modal {
    position: fixed;
    /* top: 20px; */
    left: 20px;
    right: 20px;
    width: auto;
    margin: 0;
  }
  .modal.fade {
    top: -100px;
  }
  .modal.fade.in {
    top: 20px;
  }
}
