body {
	margin-left: 15%;
	font-family: verdana, "Arial", sans-serif;
	margin-right: 15%;
}

.sidebar {
	width: 15%;
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
	background-color: #b11f0e;
    color: white;
    font-size: large;
}

#team-yellow-name { background-color: #FBC800; }
#team-blue-name {background-color: #1681C7;color: white;}

.sidebar label {
    display: block;
    padding: 10px 0px;
    font-weight: bold;
    text-decoration: underline;
}

#letter_count {
    width: 100%;
    display: inline-block;
    box-shadow: inset 0 1px 3px #ddd;
    padding-left: 50%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.input-radio {
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    margin-left: 20px;
}

.input-text {
    border: 1px solid #ccc!important;
    padding: 8px;
    display: block;
    width: 30%;
    text-align: center;
    font-weight: bold;
    font-variant-caps: all-small-caps;
    font-size: large;
}

button {
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    width: 30%;
    font-size: large;
    font-variant: all-small-caps;
    font-weight: bold;
    background: #b11f0e;
    color: white;
}