@font-face {
    font-family: 'Gotham'; /*a name to be used later*/
    src: url('../font/Gotham\ Bold.otf'); /*URL to font*/
}

body {
	background-color: #A52A2E;
	margin: 0;
	font-family: 'Gotham';
}

#logo {
    height: 10%;
    margin-top: 3%;
    margin-left: 42%;
    margin-right: 42%;
    margin-bottom: 3%;
}

.image_grid {    
    margin-top: 2%;
    height: 250px;
    display: block;
    position: relative;
}

.form-section {
    background-color: #8a1216;
    margin: 1%;
    color: white;
    padding: 1%;
    display: flex;
    text-align: center;
}

.form-section-disabled {
    background-color: #2f2f2f;
    margin: 1%;
    color: white;
    padding: 1%;
    display: flex;
    text-align: center;
}

.input-text {
    border: 0;
    padding: 2%;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
#team-yellow-name { background-color: #FBC800;color: black;}
#team-blue-name {background-color: #1681C7;color: white;}

input[type="radio" i] {
    cursor: pointer;
    margin-right: 2%;
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
}

button {
    width: 35%;
    height: 6%;
    font-size: large;
    text-transform: uppercase;
    background-color: #8b0000f5;
    border: 0;
    margin-left: 30%;
}
.from-section-inner-galery {
    display: inline-table;
    margin-left: 5px;
    margin-right: 5px;
}

.from-section-label {
    width: 25%;
}

.from-section-inner {
    width: 50%;
    margin: 1%;
}