body { 
	text-align: center;
    font-family: verdana, "Arial", sans-serif;
    line-height: 1.5;
    overflow: hidden;
}
    
    table {
        border-spacing: 0;
        height: 102%;
        width: 101%;
        margin-left: -0.5%;
        margin-top: -0.5%;
    }

    hr {
        width: 75%;
        color: rgb(49,94,213);
        background-color: rgb(49,94,213);
        height: 3px;
    }

    ul {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    td {
        border: 1px solid #e2e2e2;
        width: 150px;
        height: 125px;
        text-align: center;
        font-weight: bold;
        font-size: 80px;
        color: white;
    }

    .not_present {
        background-image: linear-gradient(to bottom , #11A7FF, #0065CF);
        color: white;
        text-shadow: 2px 2px 5px #003a77;
    }

    .correct {
        background-image: linear-gradient(#f2826a, #ba4428);
        color: rgb(255, 255, 255);
            text-shadow: 2px 2px 5px #1f0802;
    }

    .not_in_place {
        background-image: linear-gradient(to bottom , #ffff86, #efdc00);
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 5px #948200;
    }

    .error {
        background-image: linear-gradient(to bottom , #bbbbbb, #636363);
        color: white;
        text-shadow: 2px 2px 5px #252525;
    }